@{
    ViewBag.Title = "Athletes";
}

<!-- home section -->
<section id="home">
    <div class="container">
        <div class="row">

            <div class="col-md-offset-2 col-md-8 col-sm-12">
                <div class="home-thumb">
                    <h1 class="wow fadeInUp animated" data-wow-delay="0.4s" style="visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;">Chris Daden - Class of 2010</h1>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- about section -->
<section id="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-10">
                <div class="player-img player-img-round">
                    <img src="images/player.png">
                </div>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="col-sm-1 featured-players"></div>
        </div>
    </div>
</section>


<!-- feature section -->
<section id="playerof-week">
    <div class="container">
        <div class="row">
            <br>
            <div class="row">
                <h1 class="big-heading wow fadeInUp animated text-center" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">About this Athlete</h1>
            </div>

            <div class="row">
                <div class="col-sm-12 featured-players">
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<br><br> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        <br><br>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="white-bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h1 class="big-heading2 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">Player Profile</h1>
                <div class="col-sm-12 detailsbox">
                    <div class="top-nameprofile">
                        <label>First Name :</label> player name <br>
                        <label>last Name :</label> player last name<br>
                    </div>
                    <h4>Education & School</h4>
                    <div class="education-details">
                        <strong>Weighted GPA:</strong>3.66 <strong>SAT:</strong> 2380<br>
                        <strong>Unweighted GPA:</strong> 3.25 detailsbox36<br>
                        <strong>Intended Major:</strong> Computer Science<br>
                        <strong>HS Coach:</strong> Tim Robby (Email)<br>
                        <strong>High School:</strong> Los Osos High School<br>
                        <strong>Hometown:</strong> rancho Cucamonga, CA<br>
                        <strong>Height:</strong> 6'0" <strong>Weight:</strong> 210 Ibs <br>
                        <strong>Graduation year:</strong> 2020
                    </div>
                    <h4>High School Stats</h4>
                    <div class="education-details">
                        190 Points 55 Rebounds 10 Assists  <br>
                        6.8 Seconds 40 YD Dash  <br>
                        <strong>vertical jump:</strong> 3.5 Ft <br>
                        <strong>Bench Max:</strong> 275 Ibs x 8reps <br>
                        <strong>Squat max:</strong> 275 IBS x 7 reps <br>
                        31 MPG 95% FT 85% FG 40% 3ptFG <br>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <h1 class="big-heading2 wow fadeInUp animated" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">A Message to Prospective College Coaches</h1>
                <div class="col-sm-12 pd-zero">
                    <p class="text-uppercase">
                        Please Contact the Player you are intrested in directly and personality, As we are a scouting-recruiting service here to promote-advise and counsel our student-athletes, Thay look forward to your correspondence. Thanks from socal sport scholarships
                    </p>
                </div>
                <h5>Pictures:</h5>
                <div class="col-sm-12 picture-box">
                    <!-- bootstrap carousel -->
                    <div id="carousel-example-generic" class="carousel slide picture-slider" data-ride="carousel" data-interval="false">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">

                            <div class="item active srle">
                                <img src="images/img1.jpg" alt="1.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <p> 1.jpg </p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="images/img1.jpg" alt="2.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <p> 2.jpg </p>
                                </div>
                            </div>

                            <div class="item">
                                <img src="images/img1.jpg" alt="3.jpg" class="img-responsive">
                                <div class="carousel-caption">
                                    <p> 3.jpg </p>
                                </div>
                            </div>

                        </div>

                        <!-- Thumbnails -->
                        <ul class="thumbnails-carousel thumbimg clearfix">
                            <li><img src="images/img1.jpg" alt="1_tn.jpg"></li>
                            <li><img src="images/img1.jpg" alt="1_tn.jpg"></li>
                            <li><img src="images/img1.jpg" alt="1_tn.jpg"></li>
                        </ul>
                    </div>
                </div>

                <h5>Video (Youtube):</h5>
                <div class="col-sm-12 video-box">
                    <iframe style="width:100%;" width="" height="315" src="https://www.youtube.com/embed/KMZ07OpmwTw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


