<div class='panel panel-primary'>
    <div class='panel-heading'>
        User Management
    </div>
    <div class='panel-body'>
        <div style="padding-bottom:10px"><button class="btn btn-primary" (click)="addUser()">Add</button></div>
        <div class="alert alert-info" role="alert" *ngIf="indLoading"><img src="../../images/loading.gif" width="32" height="32" /> Loading...</div>

        <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
            <div class="panel panel-default">
                <div class="panel-heading">KPM Data Collection</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <span>Activity #</span>
                            <input type="text" class="form-control" placeholder="Activity" formControlName="FirstName">
                        </div>
                        <div class="col-md-8 form-group">
                            <span>Activity Name</span>
                            <input type="text" class="form-control" placeholder="Activity Name" formControlName="FirstName">
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Branch</span>
                            <select formControlName="Branch" class="form-control">
                                <option *ngFor="let branch of branches">{{branch.BranchName}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Bureau</span>
                            <select formControlName="Bureau" class="form-control">
                                <option *ngFor="let branch of branches">{{branch.BranchName}}</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Program Area</span>
                            <select formControlName="ProgramArea" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <span>Workgroup</span>
                            <select formControlName="Workgroup" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Program</span>
                            <select formControlName="Program" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Coordinator</span>
                            <input type="text" class="form-control" placeholder="Coordinator" formControlName="FirstName">
                        </div>

                        <div class="col-md-4 form-check">
                            <input type="checkbox" class="form-check-input" id="recurringCheck">
                            <label class="form-check-label" for="recurringCheck">Is Activity Recurring?</label>
                        </div>

                        <div class="col-md-4 form-group">
                            <span>Recurrence Info: </span>
                            <br />
                            some text here.
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Standard key success factors</span>
                            <select formControlName="Program" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>

                        <div class="col-md-4 form-group">
                            <span>Current Tool Used:</span>
                            <input type="text" class="form-control" placeholder="Current Tool Used" formControlName="FirstName">
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Dependencies:</span>
                            <input type="text" class="form-control" placeholder="Dependencies" formControlName="FirstName">
                        </div>
                        <div class="col-md-4 form-group">
                            <span>Priority/Impact:</span>
                            <input type="text" class="form-control" placeholder="Priority/Impact" formControlName="FirstName">
                        </div>

                        <div class="col-md-6 form-group">
                            <input type="checkbox" class="form-check-input" id="bureauCheck">
                            <label class="form-check-label" for="bureauCheck">Bureau Objective</label>
                            <select formControlName="Program" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>
                        <div class="col-md-6 form-group">
                            <input type="checkbox" class="form-check-input" id="branchCheck">
                            <label class="form-check-label" for="branchCheck">Branch Objective</label>
                            <select formControlName="Program" class="form-control">
                                <option>B1</option>
                                <option>B2</option>
                            </select>
                        </div>

                    </div>
                    <div>
                        <a class="btn btn-default">Cancel</a>
                        <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
                    </div>
                </div>
            </div>
        </form>

        <div class='table-responsive'>

            <div *ngIf='users && users.length==0' class="alert alert-info" role="alert">No record found!</div>
            <table class='table table-striped' *ngIf='users && users.length'>
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Gender</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{user.FirstName}}</td>
                        <td>{{user.LastName}}</td>
                        <td>{{user.Gender}}</td>
                        <td>
                            <button title="Edit" class="btn btn-primary" (click)="editUser(user.Id)">Edit</button>
                            <button title="Delete" class="btn btn-danger" (click)="deleteUser(user.Id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div>
            </div>
        </div>
        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>
    </div>
</div>

<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(userFrm)" [formGroup]="userFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <span>Full name*</span>
                    <input type="text" class="form-control" placeholder="First Name" formControlName="FirstName">
                </div>
                <div>
                    <span>Full name</span>
                    <input type="text" class="form-control" placeholder="Last Name" formControlName="LastName">
                </div>
                <div>
                    <span>Gender*</span>
                    <select formControlName="Gender" class="form-control">
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </div>
            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancel</a>
                <button type="submit" [disabled]="userFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>